<main>
  <div class="container d-flex justify-content-left align-items-left">
    <div class="list-group list-group-flush">
      <div class="list-group-item">
        <h1>Boards</h1>
      </div>
    {{#each boards}}
        <a id={{board_id}} href="#" class="list-group-item list-group-item-action">
          <div class="d-flex justify-content-between">
            <h3 class="mb-1">{{name}}</h3>
          </div>
          <p class="mb-1">{{description}}</p>
        </a>
        <script type="text/javascript">
          var posts_path = "/board?board_id=";
          var link = document.getElementById({{board_id}});
          var id = {{board_id}};
          link.href = posts_path+id;
        </script>
    {{/each}}
      <div class="list-group-item">
        <form method="POST" action="/board" class="w-100" style="max-width: 400px;">
          <h3 class="mb-3 text-left">New Board</h3>
          <div class="mb-3">
            <input type="text" class="form-control" name="board_name" placeholder="Enter Board Title" required />
          </div>
          <div class="mb-3">
            <textarea type="text" class="form-control" name="board_description" rows="3" placeholder="Enter Board Description" required ></textarea>
          </div>
          <button type="submit" class="btn btn-primary w-100">Create Board</button>
        </form>
      </div>
    </div>
  </div>
</main>